<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections></configSections>
	<connectionStrings>
		<add name="AutoSchool1"
			 connectionString="Data Source=DESKTOP-VERP0B4\SQLEXPRESS;Initial Catalog=uch_proc_auto;Integrated Security=True;"
			 providerName="System.Data.SqlClient"/>
		<add name="AutoSchool" 
			 connectionString="Data Source=flexcontrol1789.ddns.net, 21172;Initial Catalog=uch_proc_auto; user id=user; password=user1234;" 
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>